/SistemasDist/nbproject/private/
/SistemasDist/build/
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.vs/
.vscode/
TestResults/
*.sln
/Jogo1/nbproject/private/
/Jogo1/build/
/SistemasDistJava/Jogo1/nbproject/private/
/4-ThreadSocketCobrinha/build/
/7-Multicast/java/multicast aula/nbproject/private/
/7-Multicast/java/multicast aula/build/
/9 - UsandoJSON/teste/teste/nbproject/private/
/9 - UsandoJSON/teste/teste/build/
